#searchContainer
{
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 40px;
    border-radius: 0.25rem;
}
#advSearchForm > input
{
    border: 0;
    outline: 0;
}
#advSearchForm
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchDiv
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 10px auto auto auto;
    width: 100%;
    padding-bottom: 5px;
}
#advSearchBtn
{
    border: 0;
    background: none;
    display: flex;
    align-items: center;
}
#advSearchBtn > img
{
    width: 30px;
}
#Filter
{
    height: 40px;
    width: 190px;
    text-align: center;
    border: 0;
    background: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 0.25rem;
}
#filterArrow
{
    position: relative;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #333;
}
svg
{
    height: 30px;
    width: 30px;
}
#mainContainer
{
    max-width: 1022px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}
.searchSection{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    max-height: 600px;
    transition: all 10s ease;    
}
.filterType
{
display: flex;
flex-direction: column;
width: 100%;
max-width: 200px;
flex: 1 1 auto;
position: relative;
overflow: hidden;
}
.filterType > button 
{
    border: 0;
    background: none;
    background-color: white;
    border-radius: 0.25rem;
    width: 100%;
    display:  grid;
    grid-template-columns: 1fr 1rem;
    height: 24px;
}
.filterType > button > p
{
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.filterType > p
{
    font-size: .875rem;
    line-height: 1.25rem;
    margin: 0 0 4px 0;
    color: white;
}
.filterType > button > svg 
{
    height: 1.25rem;
    width: 1.25rem;
}
.filterContents{
    position: absolute;
    background-color: white;
    width: 100%;
    top: 200px;
    border-radius: .375rem;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    z-index: 1;
}
#wrapperDiv {
    display: grid;
    grid-template-rows: 0fr;
    width: 100%;
    transition: grid-template-rows .15s ease;
}
.overflowClass
{
    overflow: hidden ;
}
.selectedClass
{
    overflow: visible;
}
.filterContents > ul 
{
    list-style-type: none;
}
.contentLists
{
    position: relative;
    margin: 0px;
    padding: 0px;
}
.contentLists > li > div 
{
    display:  grid;
    grid-template-columns: 0.75rem 1fr;
    gap: 0.5rem;
    padding: 0.25rem 0rem 0.25rem 1.5px
}
.contentLists > li > div  > .singleSelect
{
    opacity: 0%;
}
.contentLists > li > div  > .circleList
{
    opacity: 70%;
}
.contentLists > li > div > span 
{
    opacity: 70%;
}
.circleList
{
    border: 1px grey solid;
    border-radius: 9999px;
    margin-top: auto;
    margin-bottom: auto;
    height: 0.75rem;
    width: 0.75rem;
}
.singleSelect
{
    width: 2px;
    height: 0.75rem;
    border-radius: 9999px;
    background-color: #333;
    margin-top: auto;
    margin-bottom: auto;
    
}
.contentLists > li:hover > div > .singleSelect
{
    opacity: 50%;
}
.contentLists > .selectedCircle > div > div {
    background-color: orange;
    border-color: orange;
}
.contentLists > li:hover > div > span
{
    opacity: 100%;
}
.contentLists > li:hover > div > .circleList
{
    opacity: 100%;
}
.selectedCircle > div > .singleSelect
{
    background-color: orange;
    border-color: orange;
}
.selectedCircle > div > span
{
    color: orange;
}
.contentLists >.selectedCircle > div  > .singleSelect
{
    opacity: 30%;
}
.typeSearchContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDFDFD;
    border-radius: 0.2rem;
}
.typeSearchContainer > button  img
{
    width: 20px;
}
.typeSearchContainer > button 
{
    border: 0;
    background: none;
    display: flex;
    align-items: center;
}
.typeSearchContainer input 
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    background-color: #FDFDFD;
    border-radius: 0.2rem;
}
.filterSearch
{
   
    display: grid;
    grid-template-columns: 1fr 3rem;
    justify-content: center;
}
.filterSearchDiv
{
    width: 30rem;
    padding: 10px;
}
.filterSearch > button 
{
    border: 0;
    background: none;
    display: flex;
    align-items: center;
}
.tagSection
{
   display: flex;
   align-items: center;
   gap: 5px
}
.tagSection > hr 
{

    border-color: white;
    
    border-top-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px ;
    flex-grow: 1;

}
.tagSection > span 
{
    color: black;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-transform: capitalize;
}

